---
layout: blogs
title: Ruilin's blog
description:
  Personal blog of Ruilin about programming, mostly in C,
  Linux, Shell, java.
---
<!-- style -->
<link rel="stylesheet" href="/assets/css/markdown.css">
<!-- style -->
<!-- content -->
{% for post in paginator.posts %}
<div class="post">
<h1 class="header"><a class="feature-link" href="{{post.url}}">{{ post.title }}</a></h1>
<span class="text-warning time" style="padding-right:10px"> {{ post.date | date_to_string }}</span>
</div>
<div class="md">
	{% if post.description %}
	{{ post.description }}
	{% else %}
    {{ post.content | split:'<!--more-->' | first }}
	{% endif %}</div><br/>
<a class="more btn btn-default" href="{{ post.url }}">Continue reading <span class="glyphicon glyphicon-chevron-right"></span></a>
{% endfor %}
<!-- content -->
