  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav bs-back-image" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a href="/" class="navbar-brand active" title="{{site.name}}" >{{site.name}} </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
		<li>
          <a href="https://github.com/pymumu" title="projects I have joined.">projects</a>
        </li>
		<li {% if page.url contains "/tags/" %}class="active"{% endif %}>
          <a href="/tags/" title="Archive posts order by tag">tags</a>
        </li>
        <li {% if page.url contains "/archive/" %}class="active"{% endif %}>
          <a href="/archive/" title="Archive posts">Archive</a>
        </li>
        <li {% if page.url contains "/about/" %}class="active"{% endif %}>
          <a href="/about/" title="About me">About</a>
        </li>
      </ul>
      <div class="nav navbar-nav navbar-right">
       <form class="navbar-form navbar-left" role="search" action="http://google.com/search" method="get">
       <input type="hidden" name="q" value="site:{{site.site}}">
         <div class="form-group">
           <input type="text" class="form-control" placeholder="Search" name="q">
         </div>
         <button type="submit" class="btn btn-default">Submit</button>
       </form>
      </div>
    </nav>
  </div>
  </header>
