---
layout: post
---
<!-- style -->
<link rel="stylesheet" href="/assets/css/markdown.css">
<!-- style -->
<!-- content -->
<div>
  <h1>
	  {{ page.title }}<small>{{page.subtitle}}</small>
  </h1>
  {% for cat in page.categories %}
  <span class="label label-info pull-left" style="margin-right: 10px;"><span class="glyphicon glyphicon-folder-open"></span> {{ cat }}</span>
  {% endfor %}
  {% for tag in page.tags %}
  <span class="label label-success pull-left hidden-xs" style="margin-right: 10px;"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</span>
  {% endfor %}
  <a href="javascript:history.go(-1)" class="pull-right label label-danger" style="margin-left: 10px;"><span class="glyphicon glyphicon-hand-left"></span> Back</a>
  <span class="pull-right label label-default hidden-xs">
    <span class="glyphicon glyphicon-time"></span> {{ page.date | date_to_string }}
  </span>
</div>
<div class="md"><br/><br/>
{{ content }}
</div>
{% include comments.html %}
<!-- content -->


